
<div id="site-head">
  <header>

<span id="homelink"><a title="Home Page" href="/">Home</a></span>

    <nav>

      <ul style="float:right">

        <li class="donate"><a href="/donate/">Donate</a>
          <ul>
            <li><a href="/donate">Donate to Baby U</a></li>
            <li><a href="/adopt-a-family">Adopt a Family</a></li>
            <li><a href="/donate/#Donation">Use PayPal</a></li>
            <li><a href="/donate/#Corporate-Donation">Corporate Donation</a></li>
            <li><a href="/donate#Inkind-Donation">In-kind Donation</a></li>
            <li><a href="/historical-donors">Historical Donors</a></li>
            <li><a href="/donors">2017 Donors</a></li>
            <li><a href="/future-commitments">Future Committments</a></li>
            <li><a href="/donate#Employer-Matching-Gift-Program">Company Match</a></li>
            <li><a href="/donate#Planned-Giving">Planned Giving</a></li>
            <li><a href="/donate#United-Way">Through United Way</a></li>
          </ul>   
        </li>

        <li class="volunteer"><a href="/volunteer">Volunteer</a>
          <ul>
            <li><a href="/volunteer">Help Baby U</a></li>
            <li><a href="/volunteer#Do-you-like-kids-">Child Care</a></li>
            <li><a href="/volunteer#Do-you-like-to-cook-">Meals</a></li>
            <li><a href="/volunteer#Do-you-like-to-listen">Parent Mentor</a></li>
            <li><a href="/volunteer#Do-you-like-to-teach">Instructor</a></li>
          </ul>
        </li>

        <li class="about"><a href="/about-babyu">About</a>
          <ul>
            <li><a href="/about-babyu">About Baby U</a></li>
            <li><a href="/baby-university-board-members">Board of Directors</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/our-story">Our Story</a></li>
            <li><a href="/mission-statement">Mission Statement</a></li>
            <li><a href="/how-to-signup">Enroll for Classes</a></li>
            <li><a href="/baby-u-in-the-news">News</a></li>
            <li><a href="/mosaic-ministries-of-south-toledo">Mosaic Ministries</a></li>
            <li><a href="/why-neighborhoods-matter">Neighborhoods Matter</a></li>
          </ul>
        </li>

        <li class="news"><a href="/why-baby-u">Baby U</a>
          <ul>
            <li><a href="/why-baby-u">Why Baby U</a></li>
            <li><a href="/how-baby-u-works">How it Works</a></li>
            <li><a href="/cradle-to-career-pipeline">Cradle to Career</a></li>
            <li><a href="/why-parents-matter">Why Parents Matter</a></li>
            <li><a href="/baby-university-curriculum">Curriculum</a></li>
            <li><a href="/parent-advocate">Parent Advocate</a></li>
            <li><a href="/baby-university-graduate-class">Graduate Class</a></li>
            <li><a href="/south-toledo-kids-zone">Kids Zone</a></li>
            <li><a href="/baby-university-preschool">Preschool</a></li>
            <li><a href="/baby-university-budget">Budget</a></li>
          </ul>
        </li>

        <li class="contact"><a href="/impact">Impact</a>
          <ul>
            <li><a href="/impact">Impact</a></li>
            <li><a href="/quotes-from-baby-u-graduates">Testimonials</a></li>
            <li><a href="/baby-university-outcomes">Outcomes</a></li>
          </ul>
        </li>

        <li class="search"><a href="/searchform">Search</a></li>

      </ul>


<div id="largescreens-main-header">
 <div id="article-logo">
  <a href="/"><img alt="Back to Home Page" title="Back to Home Page" border="0" src="http://babyutoledo.com/images/babyu-banner-middle-panel-smallest.png"></a>
<div id="home-text">Home</div>
 </div>
 <div id="site-title">
  <a href="/">Baby University<span id="clickable-block"></span></a>
 </div>
 <div id="sub-title">
  <a href="/"><em>Because Parents Matter</em></a>
 </div>
</div> 
<span id="homelink" class="largescreens-only-homelink"><a title="Home Page" href="/">Home</a></span>


    </nav>
  </header>

</div> 
