<footer>
<hr class="shortgrey" />
<div id="footer-nav-container">
<div id="mission">
<span class="blue-links"><a href="/mission-statement">Our Mission:</a></span> To support parents in the vital role that they play in their child's development and education.
</div>
<div id="footer-nav">
<div style="width: 33%; float: left;">
<a title="Register for Class"      href="/how-to-signup">Register</a><br />
<a title="Donate"                  href="/donate">Donate</a><br />
<a title="Volunteer"               href="/volunteer">Volunteer</a><br />
<a title="Adopt a Family"          href="/adopt-a-family">Adopt</a><br />
<span class="facebook-color"><a title="Our Facebook Page"       href="https://www.facebook.com/pages/Baby-University/129933307049520">Facebook</a>&rarr;</span>
</div>
<div style="width: 33%; float: left;">
<a title="Donors"                  href="/donors">Donors</a><br />
<a title="South Toledo Kids Zone"  href="/south-toledo-kids-zone">Children</a><br />
<a title="Why Parents Matter"      href="/why-parents-matter">Parents</a><br />
<a title="Our Impact"              href="/impact">Impact</a><br />
<a title="Site Map"                href="/site-map">Site Map</a>
</div>
<div style="width: 33%; float: left;">
<a title="About"                   href="/about-babyu">About</a><br />
<a title="Contact"                 href="/contact">Contact</a><br />
<a title="Baby U in the Media"     href="/baby-u-in-the-news">News</a><br />
<a title="Blog"                    href="/blog">Blog</a><br />
<a title="Search"                  href="/searchform">Search</a>
</div>
</div> <!-- footer nav -->
<!--
<div id="mission">
<strong>Our Mission:</strong> To support parents in the vital role that they play in their child's development and education.
</div>
-->
<!-- -  -->
<!-- - BabyU -->
</div> <!-- footer nav container -->
<div style="text-align: center; clear: left; clear: right;">
<div class="blue-links">
2010-2017 - <a href="/">Baby University</a> is a 501 (c) (3) nonprofit organization
</div>
<div class="blue-links">
 affiliated with <a href="/mosaic-ministries-of-south-toledo">Mosaic Ministries</a>
</div>
<div>
860 Orchard St.; Toledo, OH 43609 | Phone: 419-855-2516
</div>



</div> <!-- close style -->

</footer>

<script src="http://code.jquery.com/jquery-1.9.1.js"></script> 
<script src="/jquery.meanmenu.js"></script> 
<script>
jQuery(document).ready(function () {
    jQuery('header nav').meanmenu();
});
</script>
